# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# APK extraction (não subir para o GitHub)
apk_extracted/
*.apk
*.zip

# macOS
.DS_Store
*.swp
*~.nib

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# Misc
*.ipa
*.dSYM.zip
*.dSYM

# IDE
.vscode/
.idea/
